@inherits LayoutComponentBase

<NavMenu />

<div class="main-container bgc-white">
    
    <SideBar />
    
    <div class="main-content">        
        <div class="page-content">
            <div class="card acard">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
